.btn {
  position: relative;
  display: inline-block;
  border-radius: 24px;
}

.btn svg {
  fill: none;
  width: 10px;
  height: 16px;
  margin: 0 0 0 14px;
  transform: translate3d(0, 0, 0);
}

.btn svg path {
  stroke: #161616;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.3s ease;
}

.progress .btn svg path {
  stroke: #161616;
}

.progress {
  position: relative;
  display: block;
  left: 0;
  height: 3px;
  width: 100%;
  border-radius: 3px;
  background: rgba(253, 215, 210, 0.2);
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}

.progress:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background: #161616;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 2s linear;
}

.progress.active {
  opacity: 1;
}

.progress.active:after {
  transform: scaleX(1);
}

.btn:active svg {
  transform: translateY(2px);
}

.btn.pending svg {
  animation: animS 0.6s ease-in;
  animation-delay: 2.15s;
}

@keyframes animS {
  5% {
    transform: scale(0.5);
  }
  50% {
    transform: translateY(8px);
  }
  80% {
    transform: translateY(-4px);
  }
}
