@import "styles/hero-section.css";
@import "styles/menu-btn.css";
@import "styles/projects-section.css";
@import "styles/download-cv-button.css";
@import "styles/page-background.css";
@import "styles/loading-spinner.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #030303;
}

::-webkit-scrollbar-thumb {
  background-color: #101010;
  border-radius: 6px;
}

::-webkit-scrollbar-corner {
  background-color: #030303;
}

.app {
  @apply relative mx-auto;
}

.app_container {
  @apply w-full max-w-[1536px] pr-5 pl-5;
}

.text_small {
  @apply 2xl:text-lg md:text-base text-sm;
}

.section_title {
  @apply 2xl:text-2xl md:text-xl text-lg text-blue_color font-bold before:absolute before:content-[''] before:left-0 before:bg-blue_color before:h-0.5 before:w-full before:bottom-0 before:rounded;
}

.stack_image {
  @apply 2xl:w-16 md:w-14 w-12;
}

.project_title {
  @apply 2xl:text-2xl md:text-xl text-lg font-bold;
}

.project_container {
  @apply xl:w-[1200px] w-full flex flex-col justify-between items-center gap-10 p-5 bg-dark_color border-2 border-lighter_color rounded-2xl;
}

.project_info {
  @apply w-full flex flex-col gap-5 items-center;
}

.project_stacks {
  @apply flex flex-wrap w-fit justify-center;
}

.project_stack_image {
  @apply 2xl:w-14 w-12;
}

.project_img_container {
  @apply relative inline-block max-w-md rounded-2xl shadow-project overflow-hidden;
}
