.loading_spinner {
  position: relative;
  margin: auto;
  box-sizing: border-box;
  background-clip: padding-box;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid rgba(255, 255, 255, 0.1);
  -webkit-mask: linear-gradient(rgba(0, 0, 0, 0.1), #000000 90%);
  transform-origin: 50% 60%;
  transform: perspective(200px) rotateX(66deg);
  animation: loading_spinner_wiggle 1.2s infinite;
}
.loading_spinner:before,
.loading_spinner:after {
  content: "";
  position: absolute;
  margin: -4px;
  box-sizing: inherit;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  opacity: 0.05;
  border: inherit;
  border-color: transparent;
  animation: loading_spinner_spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite,
    loading_spinner_fade 1.2s linear infinite;
}
.loading_spinner:before {
  border-top-color: #2743f5;
}
.loading_spinner:after {
  border-top-color: #ffffff;
  animation-delay: 0.3s;
}

@keyframes loading_spinner_spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading_spinner_fade {
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.1;
  }
}
