.menu-btn {
  width: 32px;
  height: 32px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.menu-btn__burger {
  width: 20px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.menu-btn:hover .menu-btn__burger,
.menu-btn:hover .menu-btn__burger::after,
.menu-btn:hover .menu-btn__burger::before {
  background: #00fff0;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 95%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-10px);
}

.menu-btn__burger::after {
  transform: translateY(10px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
