.page_background {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.page_background:before {
  background: #030303;
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.page_background:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

@media screen and (max-width: 640px) {
  .page_background {
    padding: 0;
  }
}
